@import "../../styles/common/colors.scss";


body, html {
  margin: 0;
  padding: 0;
  background: $nearWhite;
  width: 100%;
  height: 100%;
}

#reactApp {
  width: 100%;
  height: 100%;
}

.app {
  display: inline-block;
  width: 100%;
  height: 100%;
}