$black: #131313;
$nearBlack: #272727;

$darkGrey: #464646;
$grey: #7f7f7f;
$paleGrey: #bcbcbc;

$nearWhite: #d7d7d7;
$white: #f8f8f8;

// RGB: 70, 180, 80
$mainColor: #46b450;
$transparentMainColor: rgba(70, 180, 80, 0.666);
